body {
    background-color: rgb(255, 235, 125);
    border: 3px, solid, gold;
    padding: 20px;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.Title1 {
    text-align: center;
}
.Subtitle1 {
    text-align: center;
}
.Bolo {
    text-align: center;
}
.List {
    text-align: left;
}
.Navegation {
    text-align: justify;
}
form {
    text-align: center;
}